.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style-type: none;
  position: relative;
}

.nav__link:hover {
  transition-property: all;
  color: #2f80ed;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}
