.recipes {
  background-color: #0a2750;
  padding: 100px 80px 215px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/background_recipes.svg");
  position: relative;
}

.recipes__title {
  max-width: 580px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  max-width: 438px;
  padding-top: 24px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  gap: 40px;
  display: flex;
  justify-content: center;
  padding-left: 80px;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
}

.recipes__video-caption {
  padding-top: 24px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
